
@mixin nav-flex(){
    @include flex;
    position: static;
    width: 100%;
    li {
        flex: 1;
        min-width: 120px;
        max-width: 240px;
    }
}

@mixin nav-overlay(){
    display: none;
    right: 4px;
    top: 44px;
    z-index: 2;
    position: absolute;
    width: 200px;
    li {
        height: 30px;
        margin-bottom: 2px;
        background-color: darken(complement($primary-color), 40%);
        color: white;
        a {
            padding: 4px 8px;
        }
    }
}