
@mixin nav-flex(){
    @include flex;
    position: static;
    width: 100%;
    li {
        flex: 1;
        min-width: 120px;
        max-width: 240px;
        a {
            position: static;
        }
    }
}

@mixin nav-overlay(){
    display: none;
    right: 4px;
    top: 44px;
    z-index: 2;
    position: absolute;
    width: 200px;
    li {
        height: 30px;
        margin-bottom: 2px;
        background-color: #000 + ($somecolor * 0.2);
        color: white;
    }
    button:focus + &,
    button:hover + &,
    &:hover {
        display: block;
    }
}