@charset "UTF-8";
/* Reset

################## */
html, body, div, span, applet, object, iframe,
center, dl, dt, dd, ol, ul, li,
fieldset, form, img, datalist, keygen,
select, input, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, footer, header, hgroup,
menu, nav, output, ruby, section, audio, video,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, figcaption, summary, time, mark,
label, legend,
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
  text-align: left;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

body {
  line-height: 1.3;
  margin: 0;
}

blockquote, q {
  quotes: none;
  font-style: italic;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style-position: inside;
}

li ul,
li ol {
  margin-left: 1em;
}

/* Start of Grid Classes
################## */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.46875rem;
  padding-right: 0.46875rem;
}

/* rows */
#main, #footer-nav, #closing-nav, div#disclaimer {
  margin-left: -0.46875rem;
  margin-right: -0.46875rem;
}
#main #of-projects, #footer-nav #of-projects, #closing-nav #of-projects, div#disclaimer #of-projects, #main #current-client, #footer-nav #current-client, #closing-nav #current-client, div#disclaimer #current-client, #main #form-sidebar, #footer-nav #form-sidebar, #closing-nav #form-sidebar, div#disclaimer #form-sidebar, #footer-nav > aside {
  width: 100%;
  position: relative;
  float: left;
  padding: 0.46875rem;
}

/* theme prep layer */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix */
.container, #main, #footer-nav, #closing-nav, div#disclaimer, .clearfix {
  *zoom: 1;
}
.container:before, #main:before, #footer-nav:before, #closing-nav:before, div#disclaimer:before, .clearfix:before, .container:after, #main:after, #footer-nav:after, #closing-nav:after, div#disclaimer:after, .clearfix:after {
  content: " ";
  display: table;
}
.container:after, #main:after, #footer-nav:after, #closing-nav:after, div#disclaimer:after, .clearfix:after {
  clear: both;
}

/* ACCESSIBILITY

################## */
label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Theme

################## */
@font-face {
  font-family: TerminalDosis-Medium;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/terminaldosis-medium-webfont.eot");
  src: url("/fonts/terminaldosis-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/terminaldosis-medium-webfont.woff") format("woff"), url("/fonts/terminaldosis-medium-webfont.ttf") format("truetype"), url("/fonts/terminaldosis-medium-webfont.svg#TerminalDosis-Medium") format("svg");
}
html,
body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #555;
  line-height: 1.7;
}
html::-moz-placeholder,
body::-moz-placeholder {
  color: #dc7474;
}
html:-ms-input-placeholder,
body:-ms-input-placeholder {
  color: #dc7474;
}
html::-webkit-input-placeholder,
body::-webkit-input-placeholder {
  color: #dc7474;
}

a {
  color: #cc3333;
  text-decoration: none;
}
a:hover {
  color: #ab2b2b;
}

h1, h2, h3, h4, h5, label {
  font-family: TerminalDosis-Medium;
  display: block;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.1875rem;
}

h4, label {
  font-size: 1.0625rem;
  margin-bottom: 5px;
}

h1, h3, h4 {
  color: #8b2323;
}

h2, h5 {
  color: #33cccc;
}

h2, h3, h5 {
  margin-bottom: 10px;
}

nav > ul > li {
  position: relative;
}

nav li > a {
  width: 100%;
  height: 100%;
  position: absolute;
}

.nav-links {
  list-style-type: none;
}

input, select, button, textarea {
  color: black;
  height: 30px;
  border-radius: 1px;
  border: 1px solid #999;
  padding: 4px 12px;
  margin-bottom: 5px;
  outline: none;
  width: 100%;
  -webkit-box-shadow: 1px 1px 1px rgba(204, 51, 51, 0.45);
  box-shadow: 1px 1px 1px rgba(204, 51, 51, 0.45);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.12s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.12s;
}
input:hover, input:focus, select:hover, select:focus, button:hover, button:focus, textarea:hover, textarea:focus {
  -webkit-box-shadow: 1px 1px 6px rgba(204, 51, 51, 0.96);
  box-shadow: 1px 1px 6px rgba(204, 51, 51, 0.96);
  border-color: #491212;
}
input:hover, select:hover, button:hover, textarea:hover {
  border-color: #777;
}

select, button {
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: auto;
  line-height: 1;
}

button {
  background-color: #cc3333;
}
button:hover {
  color: #f5d6d6;
  background-color: #33cccc;
}

#wrapper {
  padding: 2px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid black;
}

/* Start of site

################## */
#title {
  padding-top: 10px;
}
#title .logo img {
  height: 3.125rem;
  margin-right: 10px;
  float: left;
}
#title h1 {
  margin-bottom: 8px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
#title h2 {
  margin-bottom: 12px;
}

#of-projects thead {
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}
#of-projects th, #of-projects td {
  display: none;
  padding: 0.58625rem;
}
#of-projects th:first-child, #of-projects td:first-child {
  display: table-cell;
}

#current-client dt, #current-client dd {
  display: inline-block;
  width: 100%;
}
#current-client select {
  border-radius: 4px;
  height: 30px;
  width: 100%;
}

#add-project input, #add-client input {
  border-radius: 1px;
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
}

footer#close-page {
  background-color: #0a2929;
  padding: 10px;
  color: white;
  text-align: center;
}
footer#close-page p {
  font-family: monospace;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 1px;
}
footer#close-page #disclaimer {
  width: 100%;
}

#footer-nav {
  margin-top: 10px;
}
#footer-nav > aside {
  border-right: 1px solid white;
  margin-right: 3%;
  margin-bottom: 10px;
}
#footer-nav aside.brand-tomatao .icon {
  padding-left: 15px;
  margin-top: -9px;
}
#footer-nav h3, #footer-nav .icon {
  font-family: TerminalDosis-Medium;
  float: left;
}
#footer-nav h3 {
  color: #f5d6d6;
}
#footer-nav .icon {
  padding: 0px;
  font-size: 5.25rem;
  margin-right: 10px;
  margin-top: -3px;
  width: 55px;
  height: 55px;
}
#footer-nav h3, #footer-nav .extra {
  padding: 10px;
}
#footer-nav .extra {
  color: #a32929;
  float: right;
  width: 100%;
}
#footer-nav .brand-tomatao .icon {
  position: relative;
  top: -2px;
}

#closing-nav ul {
  margin-left: 20px;
}
#closing-nav li {
  margin-bottom: 10px;
}

div#disclaimer p {
  text-align: center;
  font-size: 0.625rem;
}

#main-navigation button {
  padding: 5px;
  width: 30px;
  float: right;
  font-size: 1.25rem;
}
#main-navigation .nav-links {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  position: static;
  width: 100%;
}
#main-navigation .nav-links li {
  flex: 1;
  min-width: 120px;
  max-width: 240px;
}
#main-navigation .nav-links li a {
  position: static;
  padding: 8px;
}

/* Larger devices

    Stylings of mobile-first applied, add responsivity
################## */
@media (min-width: 25.0625rem) {
  #wrapper {
    padding: 10px;
  }

  footer#close-page > div {
    width: 80%;
    margin: 10px auto;
    max-width: 1100px;
  }

  .m-right {
    float: right;
  }

  .mob-5 {
    width: 41.66667% !important;
  }

  .mob-7 {
    width: 58.33333% !important;
  }

  .container #of-projects table .mob-show-cell {
    display: table-cell;
  }

  .mob-show {
    display: block;
  }

  button.overlay {
    display: none;
  }
}
@media (min-width: 51.25rem) {
  .container {
    width: 90%;
  }

  .tab-4 {
    width: 33.33333% !important;
  }

  .tab-8 {
    width: 66.66667% !important;
  }

  .container #of-projects table .tabl-show-cell {
    display: table-cell;
  }
}
@media (min-width: 57.5625rem) {
  #footer-nav > aside {
    width: 30%;
    float: left;
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
@media (max-width: 25rem) {
  #main-navigation button {
    float: right;
    position: absolute;
    top: 14px;
    right: 4px;
  }
}
